/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito&display=swap');


/* menu bar  */

body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding-top: 87px;
    padding-left: 120px;
    padding-bottom: 145px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

/* common style  */


/* First Part start */
.part-1{
    display: flex;
}
.start{
    font-size: 72px;
}
.half-width{
    padding-left: 120px;
}
.animation:hover{
     transform: scale(1.2);
     transition: transform 1s ease-in-out;
     
    
}
.half-width img{
    width: 640px;
    height: 614px;
    padding-top: -165px;
    padding-left: 133px;
    padding-right: 165px;
}
.p-1{
    font-size: 25px;
}
.angkor{
    text-decoration: none;
    font-size: 25px;
    background-color:#E02C6D;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
}
.angkor:hover{
    background-color: rgb(55, 56, 90);
}

/* First Part end */



/* logo  */
.logos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: rgba(219, 182, 182, 0.356) solid .5px;
    border-bottom: rgba(219, 182, 182, 0.356) solid .5px;
    width: 1110px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20%;
}



/* Second Part start */
.popu{
    text-align: center;
    font-size: 35px;
}
.pic{
    height: 150%;
    width: 100%;
}

.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #ffc014;
}
.fa-star.empty{
    color: #858072;
}

.courses{
    display: grid;
    font-weight: 800;
    font-size: 16px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 4%;
    margin-bottom: 4%;
 }

.course{
    background-color: whitesmoke;
    border-radius: 7px;  
    padding: 20px 20px;
    padding-bottom: 300px;
    height: 150px;
    width: 290px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 2px 2px 4px rgba(88, 84, 84, 0.103);
}


/* Second Part end*/


/* last part start */
.font{
    font-size: 25px;
}
.angkorr{
    text-decoration: none;
    float: right;
    margin-top: 33px;
    font-size: 25px;
    font-weight: 800;
    color:#E02C6D;
    padding: 10px 30px;
}
.angkorr:hover{
    background-color: #e05f2c98;
    border-radius: 30px;
}

.last-img{
    margin-left: 145px;
    width: 640px;
    height: 414px;
    border-radius: 15px;
}
.last-part{
    display: flex;
    margin-top: 155px;
    margin-bottom: 145px;
    margin-right: 75px;
    
}

/* last part end*/


/* footer  */
footer{
    text-align: center;
    color: whitesmoke;
    height: 250px;
    padding-top: 1%;
    background-color: rgba(2, 0, 29, 0.945);
}
